<app-navbar></app-navbar>
<main class="grid grid-cols-12">
  <div class="friend image col-span-12 md:col-span-6 p-5">
    Instagram | Discord | Github | LinkedIn
  </div>

  <div class="wrapper information col-span-12 md:col-span-6 p-5">
    <div class="inner bg-white p-3 m-3 shadow-md">
      yarrut<br><br>
      info@yarrut.com<br>
      +324 70 33 35 92<br><br>
    </div>

    <div class="inner bg-white p-3 m-3 shadow-md">
      My Favourite language is:<br>
      React<br><br>
    </div>

    <div class="inner bg-white p-3 m-3 shadow-md">
      My Favourite language is:<br>
      React<br><br>
    </div>

    <div class="inner bg-white p-3 m-3 shadow-md">

      who diz? Some info about you:<br>

      Alan Turing was het tweede kind van Julius Mathison Turing en Ethel Sara Stoney. Hij had één oudere broer:
      John Turing. Julius werkte voor de Indian Civil Service, die hem in Brits-Indië plaatste. Daar ontmoette hij
      Ethel, met wie hij later in het huwelijk trad. Door de overzeese tewerkstelling van hun vader groeiden Alan en
      John op in verschillende pleeghuizen. In die pleeghuizen werden originaliteit, wetenschap en expressie ontmoedigd.
      Desondanks las Turing in zijn jeugd het boek Natural Wonders Every Child Should Know, waarover hij later zei dat
      het een grote invloed op hem had gehad.

      John op in verschillende pleeghuizen. In die pleeghuizen werden originaliteit, wetenschap en expressie ontmoedigd.
      Desondanks las Turing in zijn jeugd het boek Natural Wonders Every Child Should Know, waarover hij later zei dat
      het een grote invloed op hem had gehad.
    </div>
  </div>
</main>
