<app-navbar></app-navbar>
<main class="grid grid-cols-12 gap-5 p-5">
  <div class="col-span-6 md:col-span-3 lg:col-span-2">
      <app-cards></app-cards>
  </div>

  <div class="col-span-6 md:col-span-3 lg:col-span-2">
    <app-cards></app-cards>
  </div>

  <div class="col-span-6 md:col-span-3 lg:col-span-2">
    <app-cards></app-cards>
  </div>

  <div class="col-span-6 md:col-span-3 lg:col-span-2">
    <app-cards></app-cards>
  </div>

  <div class="col-span-6 md:col-span-3 lg:col-span-2">
    <app-cards></app-cards>
  </div>

  <div class="col-span-6 md:col-span-3 lg:col-span-2">
    <app-cards></app-cards>
  </div>

  <div class="col-span-6 md:col-span-3 lg:col-span-2">
    <app-cards></app-cards>
  </div>
</main>
